@{
    ViewData["Title"] = "Compañia administradora de recursos humanos y servicios";
}

<div class="text-center">
    <h1 class="display-3"></h1>
    <p> Reportes de Servicios, Cobros y Pagos.  </p>
</div>


<div class="center"> 
    <div>
        
       <table>
           <tr>
               <td>
                   Cliente 1
               </td>
               <td>
                   5 Horas de servicio
               </td>
               <td>
                   A pagar 10 usd
               </td>
           </tr>
       </table>

    </div>