@{
    ViewData["Title"] = "Compañia administradora de recursos humanos y servicios";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> THIS IS THE CLIENTE
         PAGE </p>
</div>
