@{
    ViewData["Title"] = "Compañia administradora de recursos humanos y servicios";
}

<div class="text-center">
    <h1 class="display-5">Compania Administradora</h1>
    <p> GIRO 54 </p>
</div>


<div class="center"> 
    <div>
        <ul>
         

           <li>
            <div class="container">
              <a asp-area="" asp-controller="OrdenDeTrabajo" asp-action="OrdenDeTrabajo">Administración de Orden de Trabajo</a>
              </div>
           </li>

           <li>
            <div class="container">
              <a asp-area="" asp-controller="" asp-action="">Administración de Profesionales (A implementar) </a>
              </div>
           </li>
         
           <li>
            <div class="container">
              <a asp-area="" asp-controller="" asp-action="">Administración de Clientes (A implementar)</a>
              </div>
           </li>


          <li>
            <div class="container">
              <a asp-area="" asp-controller="" asp-action="">Administración de Catalogos (A implementar) </a>
              </div>
           </li>




            <li>
            <div class="container">
              <a asp-area="" asp-controller="Servicios" asp-action="Servicios">Control de servicios prestados y cobros a Clientes (A implementar)</a>
              </div>
            </li>
            

 <li>
            <div class="container">
              <a asp-area="" asp-controller="Servicios" asp-action="Servicios">Control de pagos a Profesionales</a>
             </div>
            </li>
             </ul>

        </div>
       
        </div>

    </div>